<p id="notice"><%= notice %></p>

<p>
  <strong>Image url:</strong>
  <%= @portfolio.image_url %>
</p>

<p>
  <strong>Project description:</strong>
  <%= @portfolio.project_description %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
