<!DOCTYPE html>
<html>


<head>
  <title>Justus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="container">

<!--the nav bar-->

  <div class="row navigation_bar header">
      <div class="col-md-2 head">
    	<h2> Justus</h2>
      </div>
    
      <div class="col-md-10 menu">
    	<ul>
    		<li><%= link_to 'Home', homes_path %></li>
    		<li><%= link_to 'About', abouts_path %></li>
    		<li><%= link_to 'Portfolio', portfolios_path %></li>
    		<li><%= link_to 'Life', lives_path %></li>
    		<li><%= link_to 'Blog', blogs_path %></li>
    		<li><%= link_to 'Contacts', contacts_path %></li>
    	</ul>
     </div>
  	
  </div>
  
<!--end of navigation bar-->

<!--get content from other pages now-->

<div class="main">
      <%= yield %>
    </div>

<!--footer begins from here-->

<footer>
	<div class="row">
     <div class="col-md-12"> 

          <a href="www.twitter.com">
    	        <img src="/twitter.png">
    	   </a>

    	

    	<a href="https://www.facebook.com/?_rdr">
    	   <img src="/facebook.png">
    	</a>

    	<a href="https://plus.google.com/">
    	   <img src="/g_plus.png">
    	</a>

        <a href="http://www.skype.com/en/">
           <img src="/skype.png">
        </a>

    
    	
    </div>
    </div>



<div class="row">
    <div class="col-md-12">    
    	<p> 
    	   &copy Justus-2015
    	</p>
    

    	
    </div>  
 </div>
</footer>


</div>
</body>
</html>
